body {
    height: 100vh;

    background-color: rgb(89, 89, 95);


}

.app {
    display: flex;
    gap: 10px;
    justify-content: center;
    position: absolute;
    right: 40%;
    top: 30%;
}

.todolist {
    padding: 5px;
    border-radius: 5%;
    border: 2px solid #fff;
    background-color: rgb(24, 252, 137);
}

.buttons {
    text-align: center;
}

h3 {
    text-align: center;
    text-shadow: 1px 1px #b3beb1;
}

ul>li>button{
   margin: 0 0 0 5px;
background-color: aqua;
border-radius: 5px;
border: aqua;
}
ul>li>button:hover{
    cursor: pointer;
    background-color: yellow;
}
ul{
    list-style-type:none;
}